h2 {
  color: #294b29;
}
h3,
#pname {
  background-color: #fff;
  color: #294b29;
}

.carousel-caption p {
  background-color: #294b29;
  color: #fff;
}
.logo h2,
h5 {
  color: #007bff;
}
/* Adjust size of carousel images for small screens */
.carousel-item img {
  max-height: 400px; 
  width: auto;
  margin: 0 auto;
}

/* Hide horizontal scrollbar */
body {
  overflow-x: hidden;
}

/* Center the carousel on larger screens */
@media (min-width: 768px) {
  .carousel {
    margin: 0 auto;
    max-width: 1100px;
  }
  .carousel-item img {
    min-height: 700px; 
    width: auto;
  }
}

/* Adjust size of carousel images for small screens */
.carousel-item img {
  max-height: 400px; 
  width: auto;
  margin: 0 auto;
}



#msg {
  color: #190bb8;
  margin-top: -80px;
  display: block;
}